<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="refresh" content="30">
		<title><%= title %></title>

		<!-- Bootstrap -->
		<link href="css/garage.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	</head>
	<body>
		<div id="page-wrap">

			<h3>Garasjen</h3>
			<form action="" method="post">
				<button type="submit" id "triggerbutton">
					Trigger
				</button> (state: <%= state.state %> timestamp: <%= state.lastUpdated %>)
			</form>
			<p>
				<a href=".">
					<img alt="bilde" id="snapshotImage" src="api/v1/snapshot.jpg">
				</a>
			</p>
		</div><!-- /.container --> 
	</body>
</html>
