<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garage</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container text-center">

	    <h3>Garasjen</h3>
	    <p>
<button type="button" id="trigger" data-loading-text="Triggering.." class="btn btn-primary btn-lg">Trigger</button>
<button type="button" id="snapshot" data-loading-text="Snapshoting.." class="btn btn-primary btn-lg">Snapshot</button>
</p>
<p>
<img alt="bilde" id="snapshotImage" class="img-responsive center-block" height=800 width=600 src="img/snapshot.jpg?feus">
</p>
    </div><!-- /.container --> 
	  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script>
	$( document ).ready(function() { 
		$(function() {
			$('#snapshot').on('click', function () {
				var btn = $(this).button('loading');
				snapshot(function () {
					updateImage();
					btn.button('reset');
				});
			});
			$('#trigger').on('click', function () {
				var btn = $(this);
				btn.button('loading');
				btn.prop('disabled', true);
				var count = 0;
				var fetchImage = function() {
					if (count > 7) {
						btn.button('reset'); 
						btn.prop('disabled', false);
						return;
					}
					count += 1;
					var updateAfterSnapshot = updateImage.bind(this, function() {
						// todo: trigger + image load + animation + 3000 * 7 = too long?
						setTimeout(fetchImage, 3000);
					});
					snapshot(updateAfterSnapshot); 
				};
				$.ajax({ type:'POST', url:'trigger' }).done(function() { 
					fetchImage();
				}); 
			});
			function snapshot(callback) {
				$.ajax({ type:'POST', url:'snapshot' }).done(callback);
			}
			function updateImage(cb) {
				var img = $('#snapshotImage');
				img.fadeOut(function() {
					img.attr('src', 'img/snapshot.jpg?' + new Date().getTime());
					// fixme, audun: handle image load error
					img.one('load', function() {
						img.fadeIn(cb);
					}).each(function() {
						if(this.complete) $(this).load();
					});
				});	
			}
			snapshot(updateImage);
		});
	});

	
		
		
		
</script>
</body>
</html>
