body {
	background-color: #1d1f21;
	color: #c5c8c6;
	font-family: Ubuntu, sans-serif; 
	text-shadow: 2px 2px #000000;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

#triggerbutton {
	background-color: #cc6666; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

}
